# Python package requirements for gdbgui support ESP-IDF.
# This feature can be enabled by running "install.{sh,bat,ps1,fish} --enable-gdbgui"

gdbgui
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
